<!DOCTYPE html>

<html lang="es">

  <head>
    <title>City Weather</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- //Implementamos para integrar VUE (1) -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <!-- //Implementamos para integrar VUE (4) id para montar toda la app (todo lo que esta dentro de esta id, se modifica con vue)-->
    <!-- //Implementamos para integrar VUE (5)  cambiamos a variables nuestro HTML-->
    <main id="app">
      <!-- implementar un loading -->
      <img v-if="isLoading" src="images/spin.gif" alt="loading">
      <!-- si hay un error mostrar esto -->
      <img v-if="isError== true" src="images/error.png" alt="error">
      <!-- mostrar el tiempo despues de 2 condiciones -->
      <div v-if="isError == false && isLoading ==false" class="weather-summary">
<!--o <div v-else class="weather-summary"></div>   --> 
        <h2>{{city}}</h2>
        <!-- //Implementamos para integrar VUE (6) para modificar un atributo-->
        <img :src="image" />
        <h3>{{temperature}} ºC</h3>
      </div>

      <!-- comentamos el html normal
      <div class="weather-summary">
        <h2>BIO</h2>
        <img src="images/rain.png" />
        <h3>11 ºC</h3>
      </div> -->
      <label> Nombre: <input type="text" v-model="id" @blur="getCity"> </label>
      <button @click="getCity">Get city</button>

      <hr>
      <a href="./admin.html">Base datos</a>
      <!-- truco tag raro. lo que ponga aqui lo mostrara tal cual como un console log. para ver el estado del objeto-->
     <!-- <pre>
      {{$data}}
     </pre> -->
    </main>

    <!-- //Implementamos para integrar VUE (2) -->
    <script src="app.js"></script>

  
  </body>

</html>
